@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.woff2') format('woff2'),
    url('../fonts/Quicksand-Bold.woff') format('woff'),
    url("../fonts/Quicksand-Bold.ttf") format('ttf');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular.woff') format('woff'),
    url("../fonts/Quicksand-Regular.ttf") format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WaitingfortheSunrise';
    src: url('../fonts/WaitingfortheSunrise.woff2') format('woff2'),
    url('../fonts/WaitingfortheSunrise.woff') format('woff'),
    url("../fonts/WaitingfortheSunrise.ttf") format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
