:root {
    --white-color: #fff;
    --black-color: #000;
    --sweetpink-color: #fea3ac;
    --matterhorn-color: #433840;
    --dustygray-color: #9a9a9a;
    --caper-color: #dfeeb6;
    --linkwater-color: #c9e3f4;
}
